.constructs-page {
    padding: 30px;
    min-height: 100vh;
}

.Header-faction {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 30px;
}

.Faction-column {
    width: 450px;
    min-height: 300px;

    padding: 20px;

    background: linear-gradient(to right, rgb(30, 30, 30), rgba(60, 60, 60, 0.75));
    border: 2px solid #333;
    border-radius: 12px;

    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.35);

    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.img-faction {
    width: 72px;
    height: 72px;
    object-fit: contain;
    margin-bottom: 10px;
}

.Faction-title {
    margin: 0 0 20px 0;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.Units-containers {
    width: 100%;

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(64px, 1fr));
    gap: 10px;

    justify-items: center;
    align-items: center;
}